@media only screen and (max-width: 500px) {
  .logo {
    width: 200px;
    margin-top: 50px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

header {
  margin-top: 60px;
  padding-top: 60px;
}

body {
  font-family: "Lato", sans-serif;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-gradient-blue {
  background: linear-gradient(128deg, rgba(33, 171, 250, 1) 43%, rgba(148, 216, 255, 1) 100%);
}

.bg-gradient-biru-ungu {
  background: linear-gradient(128deg, rgba(106, 121, 254, 1) 36%, rgba(148, 159, 255, 1) 100%);
}

.bg-gradient-red {
  background: linear-gradient(128deg, rgba(255, 87, 87, 1) 36%, rgba(255, 148, 148, 1) 100%);
}

.bg-gradient-ungu {
  background: linear-gradient(128deg, rgba(137, 82, 255, 1) 36%, rgba(182, 148, 255, 1) 100%);
}

.bg-blue {
  background: #94d8ff;
}

.bg-blue-old {
  background: #949fff;
}

.bg-red {
  background: #ff9494;
}

.bg-green {
  background: #b6ff94;
}

.bg-orange {
  background: #ffd494;
}

.bg-ungu {
  background: #c394ff;
}
